h1 {
    color: black;
    font-family: 'Raleway';
    
    font-size: 10mm;
}
.container {
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    transition: all ease-in-out 0.5s;
}
.container img:hover {
    width: 25%;
}
